:root {
    --highlight: rgb(19, 138, 35);
}
html, body {
    /* Page */
    margin: 0;
    padding: 0;

    /* Font */
    font-size: 10pt;
    font-weight: 400;
    color: #000000;
    font-family: 'Source Sans Pro', sans-serif;
}

* {
    box-sizing: border-box;
    /* -moz-box-sizing: border-box; do i need this */
}
.page {
    background-color: #eeeeee;
    padding: 1cm;
}

.page-inner {
    background-color: #ffffff;
    color: #000000;
    box-shadow: 0 4px 5px rgb(75 75 75 / 20%);
    width: 21cm;
    min-height: 29.7cm;
    padding: 0.5in;
    margin: auto;
    overflow-wrap: break-word;
}

.three-panel {
    display: flex;
    justify-content: space-between;
    margin: 0.15cm 0;
}
    .three-panel > #center {
        flex: 0 0 33.33%;
        text-align: center;
    }
        #center > h1 {
            margin: 0;
        }

    .three-panel > #right {
        text-align: right;
        flex: 0 0 33.33%;
    }

    .three-panel > #left {
        flex: 0 0 33.33%;
    }

.two-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.15cm 0;

}
        .two-panel > #right {
            text-align: right;
            flex: 0 0 50%;
        }
    
        .two-panel > #left {
            flex: 0 0 50%;
        }
#projects > .two-panel {
    gap: 0.5cm;
}

h2 {
    margin-bottom: 0;
    color: var(--highlight);
}

ul {
    list-style-type: circle;
    padding: 0;
    margin: 0;
    margin-left: 0.5cm;
}

a {
    text-decoration: none;
    color: var(--highlight);
}

hr {
    margin: 0.05cm;
}

b {
    font-weight: 600;
}

#icon {
    color: var(--highlight);
}

span {
    border: 1px solid #aaa;
    border-radius: 6px;
    padding: 0 4px;
    color: #aaa;
    background-color: #eee;

}
@media print {
	.page {
        /* Thanks to https://github.com/delight-im/HTML-Sheets-of-Paper/blob/gh-pages/css/sheets-of-paper.css */

		width: initial !important;
		min-height: initial !important;
		margin: 0 !important;
		padding: 0 !important;
		border: initial !important;
		border-radius: initial !important;
		background-color: #ffffff !important;
		box-shadow: initial !important;

		page-break-after: always;
	}
}