:root {
    --highlight: rgb(19, 138, 35);
}
html, body {
    /* Page */
    margin: 0;
    padding: 0;

    /* Font */
    font-size: 10pt;
    font-weight: 400;
    color: #000000;
    font-family: 'Source Sans Pro', sans-serif;
}

* {
    box-sizing: border-box;
    /* -moz-box-sizing: border-box; do i need this */
}
.page {
    background-color: #eeeeee;
    padding: 1cm;
}

.modal {
    width: 21cm;
    padding: 0.25in 0.5in;
    margin: auto;
    margin-bottom: 1cm;
    background-color: white;
    color: #333;
    border-radius: 10px;
    font-weight: 600;
    box-shadow: 0 4px 5px rgb(75 75 75 / 20%);
    display: flex;
    align-items: center;
    justify-content: center;
}
    
    .modal-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 8px;
        }
        
        .text {
        margin-bottom: 16px;
        font-size: 14px;
        }
    
    .close-button {
        background: #eee;
        border-radius: 50%;
        color: #888;
        font-weight: 400;
        font-size: 16px;
        height: 24px;
        width: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .buttons {
        display: flex;
        gap: 8px;
    }

    button {
        padding: 8px 16px;
        border-radius: 8px;
        cursor: pointer;
    }
    
    button.print {
        background: royalblue;
        border: 1px solid royalblue;
        color: white;
    }
    
    button.close {
        background: white;
        border: 1px solid #ddd;
        color: royalblue;
    }

.page-inner {
    background-color: #ffffff;
    color: #000000;
    box-shadow: 0 4px 5px rgb(75 75 75 / 20%);
    width: 21cm;
    min-height: 29.7cm;
    padding: 0.5in;
    margin: auto;
    overflow-wrap: break-word;
}

.three-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.15cm 0;
}
    .three-panel > .center {
        flex: 0 0 33.33%;
        text-align: center;
    }
        .center > h1 {
            margin: 0;
        }

    .three-panel > .right {
        text-align: right;
        flex: 0 0 33.33%;
    }

    .three-panel > .left {
        flex: 0 0 33.33%;
    }

.two-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.15cm 0;

}
        .two-panel > .right {
            text-align: right;
            flex: 0 0 50%;
        }
    
        .two-panel > .left {
            flex: 0 0 50%;
        }

    #projects > .two-panel {
        gap: 0.3cm;
    }

h2 {
    margin-bottom: 0;
    color: var(--highlight);
}

ul {
    list-style-type: circle;
    padding: 0;
    margin: 0;
    margin-left: 0.5cm;
}

a {
    text-decoration: none;
    color: var(--highlight);
}

hr {
    margin: 0.05cm;
}

b {
    font-weight: 600;
}

#icon {
    color: var(--highlight);
}

span {
    border: 1px solid #aaa;
    border-radius: 6px;
    padding: 0 4px;
    color: #aaa;
    background-color: #eee;

}
@media print {
    @page {
        size: A4;
        margin: 0;
    }

	.page {
        /* Thanks to https://github.com/delight-im/HTML-Sheets-of-Paper/blob/gh-pages/css/sheets-of-paper.css */

		width: initial !important;
		min-height: initial !important;
		margin: 0 !important;
		padding: 0 !important;
		border: initial !important;
		border-radius: initial !important;
		background-color: #ffffff !important;
		box-shadow: initial !important;

		page-break-after: always;
	}

    .modal {
        display: none;
    }
}