body {
    /* Page */
    margin: 0;
    /* height: 100vh;
    width: 100vw; */
    display: flex;
    justify-content: center;

    /* Font */
    font-size: 10pt;
    font-weight: 400;
    color: #000000;
    font-family: 'Source Sans Pro', sans-serif;

    background-color: #dddddd;
    padding: 1cm;
}

* {
    box-sizing: border-box;
}

#profile-picture {
    aspect-ratio: 1 / 1;
    height: 250px;
    width: 250px;
    border-radius: 50%;
}

#content {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 80%;
}

i {
    font-size: 30px;
    color: green;
    padding: 16px;
}